<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <title>Alameda Restaurant Inspections</title>
</head>
<body>

<h1>
    <a href="/">Alameda Restaurant Inspections</a>
</h1>

<div>
    <form action="/search" method="GET">
        <div class="form-group">
            <input class="form-control" name="name" type="text"></input>
        </div>
        <div class="form-group">
            <button class="btn" type="submit" id="search-submit">Search</button>
        </div>
    </form>
    <p>Or <a href="#">browse data...</a></p>
</div>

<div id="map"></div>

<div>
    <h2>Newest Records</h2>
    <% records.forEach(function(record) { %>
        <div class="record">
            <p><%= record.facility_name %> <%= moment(record.activity_date).format("MM-DD-YYYY") %></p>
        </div>
    <% }) %>
</div>

<script>
    function mapsCallback() {
        var records = <%- JSON.stringify(records) %>;
        initMap(records);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=mapsCallback"></script>

</body>
</html>