<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <title>Alameda Restaurant Inspections</title>
</head>
<body>


<div class="container">
    <h1><a href="/">Alameda Restaurant Inspections</a></h1>
        
    <div>
        <form action="/search" id="search-form" method="GET">        
            <div class="input-group">    
                <input class="form-control rounded-0" name="name" type="text" id="search-box" placeholder="Search Restaurant"></input>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary rounded-0" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div id="suggestion-box"></div>
        <p>Or see <a href="#">newest</a>, <a href="#">browse data</a>...</p>
    </div>
    
    <div class="container">
        <!-- <div class="row">
            <div class="col">
                <h2>Newest Records</h2>
                <div id="recent-records">
                    <% records.forEach(function(record) { %>
                        <div class="record">
                            <p><%= record.facility_name %> <%= moment(record.activity_date).format("MM-DD-YYYY") %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <div class="col-8">
                <div id="map"></div>
            </div>
            <div class="col">
                <div id="records-container">
                    <h3>Records</h3>
                </div>
            </div>
        </div>
    </div>
      
</div>

<script>
    function mapsCallback() {
        var records = <%- JSON.stringify(records) %>;
        var map = createMap(records);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=mapsCallback"></script>

</body>
</html>