<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <title>Alameda County Restaurant Inspections</title>
</head>
<body>

<h1>Alameda County Restaurant Inspections</h1>

<div>
    <input type="text"> Search</input>
    <p>Or <a href="#">browse data...</a></p>
</div>

<div>
    <h2>Newest Records</h2>
    <% records.forEach(function(record) { %>
        <p><%= record.facility_name %> <%= moment(record.activity_date).format("MM-DD-YYYY") %></p>
    <% }) %>
</div>

</body>
</html>