.clickable {
  cursor:pointer;
}

.location {
  color: rgb(150, 150, 150)
}

.right {
  float: right;
}

.date {
  font-size: 0.7em;
}

.record {
  color: rgba(56, 56, 56, 0.89);
  padding: 10px 0;
}

.record-content {
  padding-left: 20px;
  padding-right: 15px;
}

.record .location {
  font-size: 0.85em;
}

.record:nth-child(odd) { 
  background: rgba(85, 84, 84, 0.068); 
}

.record:hover {
  background: rgb(255, 250, 186); 
}

.container:nth-of-type(2) {
  margin-top: 50px;
}

#records-container {
  height: 500px;
  overflow : auto;
  background-color: rgba(155, 155, 155, 0.075);
}

#records-container h3 {
  color: rgba(56, 56, 56, 0.75);
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 15px;
}

#map {
  height: 500px;
  width: 100%;
  /* margin-top: 25px; */
}

#suggestion-box {
  border-bottom: 1px solid #ced4da;
}

/*********
* IMAGES *
*********/

.dot {
  margin-left: 7px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
}

.yellow {
  background-color: rgba(255, 255, 6, 0.733);
  border: 1px solid rgb(175, 158, 0);
}

.red {
  background-color: red;
  border: 1px solid rgba(112, 45, 45, 0.582);
}

.green {
  background-color: green;
  border: 1px solid rgba(8, 39, 24, 0.582);
}

/**********************
* BOOTSTRAP OVERRIDES *
***********************/

.col, .col-8 {
  padding: 0;
}

.list-group {
  max-height : 200px;
  overflow : auto;
}

.list-group-item {
  padding: 5px 10px;
}

form .form-control:focus{
  border-color: #007bff;
  box-shadow: none;
}