makeDotHTML = function(resource_code) { 
    if (resource_code === 'G') { 
        return "<span class='green dot'></span>"
    } else if (resource_code === 'Y') { 
        return "<span class='yellow dot'></span>"
    } else if (resource_code === 'R') { 
        return "<span class='red dot'></span>"
    } 
} 